<ion-header>
  <ion-toolbar>
    <!--Llamamos al menu-->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <!-------------------->
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/consultaIMG.jpg"></ion-img>
  <ion-card>
    <ion-card-content>
      <h2 class="ion-text-center">Para obtener una cita para una consulta</h2>
      <ion-item>
        <h1>
          <ion-label position="stacked">Llenar lo siguiente</ion-label>
        </h1>
        <ion-input placeholder="Nombre" inputmode="text" required></ion-input>
        <ion-input placeholder="Servicio Requerido" inputmode="text"></ion-input>
        <ion-textarea placeholder="Descripcion de la mascota"></ion-textarea>
        <ion-input placeholder="Horario deseado" inputmode="text"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" (click)="presentAlert()">Reservar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
