ion-content{
  --ion-background-color: #B43A20;
}

ion-card{
  padding: 0.5em;
  opacity: 90%;
  background-color: rgba(0, 0, 0, .5);
}

ion-item{
  border-radius: 5%;
  padding: 0.5em;
  opacity: 90%;
  background-color: rgba(0, 0, 0, .5);
}
