ion-content{
  --ion-background-color: #B43A20;
}

.imgcentral{
  position: absolute;
  top: -10px;
}

.logo{
  position: relative;
  top: 125px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 2.5cm;
  width: 2.5cm;
}

.imglogo{
  height: 2.5cm;
  width: 2.5cm;
}

.my-custom-menu {
  --width: 500px;
}

ion-toolbar{
  background-color: aliceblue;
}

ion-card-title{
  text-align: center;
  color: white;
  height: 4cm;
}

