    <ion-header>
      <ion-toolbar>
        <!--Llamamos al menu-->
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <!-------------------->
        <ion-title>Veterinaria</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div style="position: relative;">
        <ion-img src="assets/menu_img.jpg" class="imgcentral"></ion-img>
        <ion-card class="logo">
          <ion-img src="assets/logo.png" class="imglogo"></ion-img>
        </ion-card>
      </div>
      <ion-card style="position: absolute; top:225px;">
        <ion-card-title>
          <ion-img src="assets/menub1.jpg"></ion-img>
        </ion-card-title>
      </ion-card>
      <ion-tabs>
        <ion-tab-bar slot="tabs">
          <ion-tab-button tab="consulta" (click)="consultas()">
            <ion-icon name="mail"></ion-icon>
            <ion-label>Notificaciones</ion-label>
            <ion-badge>0</ion-badge>
          </ion-tab-button>

          <ion-tab-button tab="log-out" (click)="login()">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Cerrar Sesion</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>

